<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cal.css') }}">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>DOJO FLASK</title>
</head>
<body>
    <section id="index">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="card_login">
                        <font face="OCR A std" color="white" >
                          <h1>Agenda</h1>
                        </font>
                        <form class="row g-3">
                            <div class="col-md-6">
                              <label for="inputEmail4" class="form-label">Email</label>
                              <input type="email" class="form-control" id="inputEmail4">
                              <button type="button" class="btn btn-outline-primary">Enviar</button>
                            </div>
                            <div class="col-md-6">
                              <label for="inputPassword4" class="form-label">Password</label>
                              <input type="password" class="form-control" id="inputPassword4">
                <div  id="buttno" class="btno">
                    <a type="button" class="btn btn-outline-primary" href="{{url_for('resp') }}">Cadastro</a>
                </div>

                        </form>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

